/* PAGE RULES */
* {
    margin: 0;
    padding: 0;
    font-family: "Edu Tas Beginner", "sans-serif";
}

/* HEADER */
header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/wall.png);
}

h1 {
    font-size: 70px;
}

/* MAIN CONTAINER */
main {
    background-image: url(../img/cork.png);
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* cards */
.card {
    height: 250px;
    width: 245px;
    background-color: aquamarine;
    margin: 10px;
}


/*************************************************
    TABLET VERSION
 *************************************************/
@media screen and (max-width: 790px) {}


/*************************************************
    MOBILE VERSION
 *************************************************/
@media screen and (max-width: 507px) {}